{% extends "base.html" %} {% block title %}Register Page{% endblock %} {% block content
 %}
    <h2>Register</h2>
    <form id="register" method="POST">
        <label>Username:</label>
        <input type="text" id="username" placeholder="Enter Username">
        <label>Password:</label>
        <input type="password" id="password1" name="password1" placeholder="Enter Password">
        <label>Confirm Password:</label>
        <input type="password" id="password2" name="password2" placeholder="Confirm Password">
        <button type="submit" class="register-submit">REGISTER</button> 
    </form>
    <h3>Already Have Account? <a href="/login">Click Me!</a></h3>

   
 {% endblock %}